<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#1 - Vue init; Work with data.</title>
</head>


<body id="app">
<input type="checkbox" v-model="priority.imgShow">
<input type="text" placeholder="tit" v-model="priority.title1">
<input type="text" placeholder="img" v-model="priority.imgUrl">

<br>
<div class="img__wrapper" v-if="priority.imgShow">
    <img @click="changeImg" style="height:200px; weight:200px"
         v-bind:src=" priority.imgUrl"
         v-bind:alt="priority.title1"
         v-bind:title="priority.title1">
</div>


<div class="app__header">
    <h1 > {{ priority.title }} - {{ priority.value }} раз </h1>
</div>
<hr>
<div class="app__body">
    <button v-if="priority.value >0" @click="down" >{{ buttons.prev.title}}</button>

    <button @click="up">{{buttons.next.title}}</button>
</div>

<hr>
<p v-if="priority.value ===3" >приоритет равен Трем</p>
<p v-else-if="priority.value ===1 || priority.value ===2" >Приоритет равен либи одному или двум</p>
<p v-else-if="priority.value ===0" >приоритет равен нулю</p>
<hr>
{{ priority.value === 0? "Just do it" : "It was done"}}
<div class="wrapper">
    <div class="app2">
        <hr>
        <div>{{names}}
            <ul>
                <li>{{names[0]}}</li>
                <li>{{names[1]}}</li>
                <li>{{names[2]}}</li>
                <li v-for="chlen in names" key="chlen">{{chlen}}</li>
            </ul>
            <button @click="addNewItem">Submit</button>
            <hr>
            {{people}}
            <ul>
                <li v-for="person in people" key="person.id">
                    <h2>Number of person - {{person.id}} </h2>
                    <p>Name -{{person.name}} , Age -{{person.age}}</p>
                    <p>Sex: {{ person.male ? 'male' : 'female'}}</p>
                </li>
            </ul>
            <button @click="addNewPerson">Create new person</button>
        </div>
        <!-- Vue -->
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
    const Zalupa = {
        data () {
            return {
                created() {
                    console.log(Date.now())+ "хук created создался"
                },
                mounted() {
                    console.log(Date.now()) + "хук Mounted замонтировался"
                },
                people: [
                    {
                        id: 1,
                        name: 'Adam',
                        age: 24,
                        male: true,

                    },
                    {
                        id: 2,
                        name: 'Jon',
                        age: 224,
                        male: false,

                    },
                    {
                        id: 3,
                        name: 'Kendy',
                        age: 234,
                        male: true,

                    },
                ],
                names:["Jeck", "Bill", "Henry"],
                priority: {
                    imgShow: false,
                    title1: "Here is a picrure",
                    imgUrl: "images/m1.png",
                    title: 'Very nice',
                    value: 5,

                },
                buttons: {
                    prev: {
                        title: "Down",
                    },
                    next: {
                        title: "Up",
                    },
                }
            }

        },
        methods: {
            addNewPerson() {
                this.people.push({

                    id: this.people.length +1 ,
                    name: Math.random().toString(36).substring(8),
                    age: 234,
                    male: true,

                })
            },
            addNewItem () {
                const randomName = Math.random().toString(36).substring(7);
                this.names.push(randomName);
            },
            changeImg() {
                const images = ["images/m1.png", "images/m2.png"];

                this.priority.imgUrl = images[Math.floor(Math.random() * images.length)];
                console.log(imgUrl);

            },
            down(){
                if(this.priority.value >0){
                    this.priority.value -=1;
                }

            },
            up() {
                if(this.priority.value <10) {
                    this.priority.value +=1;
                }

            }
        },
        computed: {
            message() {
                const messages = {
                    welcome: "Say Hello",
                    save: " It was done",
                };
                return this.priority.value >0 ? message.save: message.velcome;

            }
        }
    }

    Vue.createApp(Zalupa).mount("#app");
    console.log(Vue)
</script>
</body>
</html>